/*

@media (prefers-color-scheme: light) {
  :root {
  }
}
  */

.page.light_theme {
  --theme-icon-color: black;
  --theme-icon-focus-color: lightgray;
  color: #545454;
  background-color: #fefdf6;
}

.page.dark_theme {
  --theme-icon-color: rgba(24, 217, 27, 0.9);
  --theme-icon-focus-color: rgba(24, 217, 27, 0.3);
  color: white;
  background-color: black;
}
