/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
  
*/

.page.theme_dark {
  /* стили ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --title-color: #db00ff;
  --accent-color: #ff0070;
  --highligt-color: #ff0070;
  --heading-text-color: #000028;
  --section-text-color: #f1b2ce;
  --background-image: url("../images/cover-image-dark.png");
  --background-color: #000;
  --accent-color-hover: #ff007066;
  --decor-visible: flex;
}
