@import url("./aside.css");

.page {
  /*
  background-image: url("../images/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;*/
  height: 170vh;
  padding: var(--view-vertical-margin) var(--view-horizontal-margin)
    var(--view-vertical-margin) var(--view-horizontal-margin);
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
  background-color: var(--backhround-color);
}

/* --------------------------------------------------------------------- */

.title {
  font-size: 22px;
  font-style: italic;
}

/* --------------------------------------------------------------------- */
.article_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.article__image {
  display: block;
  width: 500px;
  height: 250px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.footer__copyright {
  margin: 0;
  color: var(--text-color);
  font-size: 20px;
  line-height: 24px;
}
