html {
  scroll-behavior: smooth;
}

.page {
  position: relative;
  padding: var(--view-vertical-margin) var(--view-horizontal-margin)
    var(--view-vertical-margin) var(--view-horizontal-margin);
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: var(--backhround-color);
  /*
  background-image: url("../images/");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;*/
}

.page::before,
.page::after {
  content: "";
  position: fixed;
  top: var(--view-vertical-margin);
  bottom: var(--view-vertical-margin);
  width: 1px;
  background-color: var(--accent-color_focus-color);
}

.page::before {
  left: var(--view-horizontal-margin);
}

.page::after {
  right: var(--view-horizontal-margin);
}

/* --------------------------------------------------------------------- */
.header {
  block-size: 60vh;
}

.title {
  font-size: 22px;
  font-style: italic;
}

/* --------------------------------------------------------------------- */

.article_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.article_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fact_section {
}

/* --------------------------------------------------------------------- */
.theme-toggle_button {
  position: fixed;
  top: var(--view-vertical-margin);
  right: calc(var(--view-horizontal-margin) - var(--button-position));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid transparent;
  background-color: transparent;
}

.theme_icon {
  fill: var(--accent-color);
  transition: transform 0.2s linear;
}

.up-button {
  position: fixed;
  right: calc(var(--view-horizontal-margin) - var(--button-position));
  bottom: var(--view-vertical-margin);
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid transparent;
  background-color: transparent;
}

.up_icon {
  width: 37px;
  stroke: var(--accent-color);
  transition: transform 0.2s linear;
}
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
.footer__copyright {
  margin: 0;
  color: var(--text-color);
  font-size: 20px;
  line-height: 24px;
}
/* --------------------------------------------------------------------- */

/*--------------------состояния----------------------*/

.theme-toggle_button:hover .theme_icon {
  transform: scale(1.2);
}

.up-button:hover:hover .up_icon {
  transform: scale(1.2);
}

.theme-toggle_button:focus {
  outline: none;
}

.up-button:focus {
  outline: none;
}

.theme-toggle_button:focus-visible {
  border-right: 1px solid var(--accent-color_focus-color);
  border-left: 1px solid var(--accent-color_focus-color);
}

.up-button:focus-visible {
  border-right: 1px solid var(--accent-color_focus-color);
  border-left: 1px solid var(--accent-color_focus-color);
}

.galaxy_wrapper_button {
  position: fixed;
  top: calc(var(--view-vertical-margin) - 2px);
  left: calc(var(--view-horizontal-margin) - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  border: 1px solid transparent;
  background-color: transparent;
  cursor: default;
}

.galaxy_icon {
  fill: var(--accent-color);
  transition: transform 0.9s ease, opacity 0.4s linear;
}

.galaxy_wrapper_button:hover .galaxy_icon {
  transition: var(--galaxy_hover_transform);
  transform: scale(0.2);
  opacity: 0;
}

.copyright_wrapper_button {
  position: fixed;
  bottom: var(--view-vertical-margin);
  left: calc(var(--view-horizontal-margin) - 65px);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  background-color: transparent;
  width: 45px;
  cursor: default;
}

.copyright_icon {
  fill: var(--accent-color);
  transition: transform 0.9s ease, opacity 0.4s linear;
 
}

.copyright_wrapper_button:hover .copyright_icon {
  transition: var(--galaxy_hover_transform);
  transform: scale(0.2);
  opacity: 0;
}
