/* MAIN - DARK, MOBILE */
html {
  scroll-behavior: smooth;
}

.page {
  padding: var(--view-vertical-margin) var(--view-horizontal-margin)
    var(--view-vertical-margin) var(--view-horizontal-margin);
  color: var(--text-color);
  font-family: "IBM Plex Mono", sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  background-color: var(--backhround-color);
}

.page::before,
.page::after {
  content: "";
  position: fixed;
  top: var(--view-vertical-margin);
  bottom: var(--view-vertical-margin);
  width: 1px;
  background-color: var(--accent-color_focus-color);
}

.page::before {
  left: var(--view-horizontal-margin);
}

.page::after {
  right: var(--view-horizontal-margin);
}

/* --------------------------------------------------------------------- */
.header {
  display: grid;
  grid-template-rows: 200px auto;
  block-size: 300vh;
}
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
.theme-toggle_button {
  position: fixed;
  top: var(--view-vertical-margin);
  right: calc(var(--view-horizontal-margin) - var(--button-position));
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid transparent;
  background-color: transparent;
}

.theme_icon {
  border: 1px solid transparent;
  fill: var(--accent-color);
  transition: transform 0.2s linear;
}

.up-button {
  position: fixed;
  right: calc(var(--view-horizontal-margin) - var(--button-position));
  bottom: var(--view-vertical-margin);
  display: none;
  justify-content: center;
  align-items: center;
  width: 50px;
  border: 1px solid transparent;
  background-color: transparent;
}

.up_icon {
  width: 37px;
  border: 1px solid transparent;
  stroke: var(--accent-color);
  transition: transform 0.2s linear;
}
/* --------------------------------------------------------------------- */

/* --------------------------------------------------------------------- */
.footer__copyright {
  margin: 0;
  color: var(--text-color);
  font-size: 20px;
  line-height: 24px;
}
/* --------------------------------------------------------------------- */

/*--------------------состояния----------------------*/

.theme-toggle_button:hover .theme_icon {
  transform: scale(1.2);
}

.up-button:hover:hover .up_icon {
  transform: scale(1.2);
}

.theme-toggle_button:focus {
  outline: none;
}

.up-button:focus {
  outline: none;
}

.theme-toggle_button:focus-visible {
  border-right: 1px solid var(--accent-color_focus-color);
  border-left: 1px solid var(--accent-color_focus-color);
}

.up-button:focus-visible {
  border-right: 1px solid var(--accent-color_focus-color);
  border-left: 1px solid var(--accent-color_focus-color);
}
